<%= form_with(model: newsletter) do |form| %>
  <% if newsletter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>
      <ul>
        <% newsletter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :topic, style: "display: block" %>
    <%= form.select :topic, options_for_select(["Academic", "Disciplines", "Busines", "Communication", "Concepts", "Culture", "Economy", "Educatio", "Energy", "Engineering", "Entertainment", "Entities", "Ethics", "Food and drink", "Geography", "Government", "Health", "History",  "Human behavior", "Humanities", "Information", "Internet", "Knowledge", "Language", "Law", "Life", "Mass media", "Mathematic", "Military", "Nature", "People", "Philosophy", "Politics", "Religion", "Science",  "Society",  "Sports", "Technology",  "Time Universe"], newsletter.topic) %>
  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <p>Newsletter background:</p>
    <%= form.file_field :background %>
    <%= image_tag(newsletter.background, width: "100px") if newsletter.background.attached?%>
  </div>
  <div>
    <label>+18 Rated</label> <br/>
    <%= form.select :r_rated, options_for_select([[:false],[:true]], newsletter.r_rated) %>
  </div>
  <div>
    <%= form.submit class:'btn btn-success float-right' %>
  </div>
<% end %>
