<%= render "navbar" %>
<div id="posts">
  <div class="container">
  <br/>
    <p style="color: green"><%= notice %></p>
    <h1>Posts of  <strong><%=@newsletter.name %></strong></h1>
                          <div class="col-md-auto">
                  <%= link_to "New post", newsletter_post_new_path(), class:'btn btn-success float-right' %>
                </div>
                <br/><br/>
    <div id="posts"  >
      <div class="">
        <% if @posts.length == 0 %>
          <div style="text-align:center" >
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <strong>
              <h2 class="text-muted">It seems that there is still any post here! BE THE FIRST ONE!</h2>
            </strong>
            <h5 class="text-muted">Click the button below to discover some newsletters!</h5>
            <br/>
            <%= link_to 'DISCOVER',  discover_path(), class:'btn btn-lg btn-outline-secondary'%>
          </div>
        <% else%>
          <% @posts.each do |post| %>
            <div class="bg-light p-3 border bg-light" >
              <div class="row">
                <div class="col-8">
                  <%= render post %>
                </div>
                <br/>
                <div class="col align-self-end col col-lg-2">
                  <%= image_tag(post.image, width: "300px", height: "auto", class:"justify-content-end") if post.image.attached?%><br/>
                </div>
              </div>
              <div class="row">

                <div class="col-md-auto">
                  <%= button_to "Edit this post", edit_post_path(post), method: :get, class:'btn btn-sm btn-secondary float-right' if post.users_id == current_user.id%>
                </div>
                <div class="col-md-auto">
                  <%= button_to "Destroy this post", post, method: :delete, class:'btn btn-sm btn-danger float-right' if post.users_id == current_user.id%>
                  <% button_to "Show this post", post, method: :get, class:'btn btn-secondary float-right' %>
                </div>
                <% link_to "Show this post", post %>
              </div>
            </div>
            <br/>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
