<div id="<%= dom_id post %>" >
  <p>
    <% @username = User.find_by(id:post.users_id).email %>
    <strong> <%= link_to "#{@username}", profile_path(:user_id => post.users_id) %></strong><br/>
    <%= post.created_at.to_date %>
    <strong> FROM:</strong><% @newsletter = Newsletter.find_by(id:post.newsletters_id) %>
    <%= link_to "#{@newsletter.name}", newsletter_path(@newsletter), {:style=>'text-decoration:none' } %></strong><br/>
</p>
<h4>
  <%= post.title %>
</h4>
<p>
  <%= post.description %>
</p>
</div>
